/* You can add global styles to this file, and also import other style files */
.add-button {
    cursor:pointer;
    margin:10px 0px;
}
.form {
    margin:20px 0px;
}
.cust-pointer {
     cursor:pointer;
}