/* You can add global styles to this file, and also import other style files */
.add-button {
    cursor:pointer;
    margin:10px 0px;
}
.form {
    margin:20px 0px;
}
.cust-pointer {
     cursor:pointer;
}
.delete-confirmation {
    position: absolute;
    z-index: 555;
    background: rgba(0,0,0,0.5);
    width: 100%;
    height: 100%;
    top: 0;
    padding: 25% 0px;
    color: #fff;
}