<div>
    <h2>Agents</h2>
    <button class="btn btn-warning add-button" (click)="showForm=!showForm">Add Agents</button>

    <div class="form" *ngIf="showForm">
        <form (ngSubmit)="onSubmit()" #agentForm="ngForm">
            <div class="form-group">
                <label for="name">Name</label>
                <input type="text" class="form-control" id="name" required [(ngModel)]="agent.AgentName" name="name" #name="ngModel">
                <div [hidden]="name.valid || name.pristine" class="alert alert-danger">
                    Agent name is required
                </div>
            </div>
            <button type="submit" class="btn btn-success" [disabled]="!agentForm.form.valid">Submit</button>
        </form>
    </div>
    <table class="table table-bordered">
        <thead>
            <tr>
                <th>#</th>
                <th>Name</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody *ngIf="!errorMessage">
            <tr *ngFor="let agent of agents">
                <th scope="row">{{agent.AgentId}}</th>
                <td>{{agent.AgentName}}</td>
                <td><button class="btn btn-success" (click)="updateAgent(agent)">Edit</button> 
                <button class="btn btn-danger" (click)="deleteAgent(agent.AgentId)">Delete</button> </td>
            </tr>
        </tbody>
    </table>
    <h3 *ngIf="errorMessage">No Listings Found</h3>
</div>